body{
  font-family: Arial, sans-serif;
  background-color: blueviolet;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  background-color: beige;
  border-radius: 5pc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  color: blueviolet;

}

.weather_info{
  text-align: center;
  margin-top: 30px;

}

.weather_info h2{
  font-size: 24px;
  margin-bottom: 10px;
}

.weather_info p{
  font-size: 18px;
  margin:  5px 0;
}

.weather_info img{
  margin-top: 10px;

}